

:root {
    --main-title-color: #2E2F42;
    --primary-color:  #434455;
    --secondary-color: #FFFFFF;
    --accent-color: #4D5AE5;
}


body{
     font-family: Roboto, sans-serif;
     background-color:var(--secondary-color) ;
}
.list {
    list-style: none;
}    
.link {
    text-decoration: none;
}
.header {
        background-color: var(--secondary-color);
}
.logo-web {
        color: var(--accent-color);
        font-family: Raleway; sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1,16;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.logo-studio {
    color: var(--main-title-color);
}

.header-link {
    
        font-size: 16px;
        
        font-weight: 500;
        line-height: 1,5;
        
        letter-spacing: 0.32px;
        color: var(--main-title-color);
}
.header-link :hover,
.header-link :focus {
    color: var(--accent-color);
}
.header-list :hover,
.header-list :focus {
     color: var(--accent-color);
}

.header-mail,
.header-tel {
        color: var(--primary-color);
    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1,5;
        
        letter-spacing: 0.32px;
}
.header-mail :hover,
.header-tel :focus {
     color: var(--accent-color);
}



.hero {
    background-color: var(--main-title-color);
}
.hero-title {
    
        font-size: 56px;
        
        font-weight: 700;
        line-height: 1,07;
        
        letter-spacing: 1.12px;
    color: var(--secondary-color);
}
.hero-btn {
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1,5;
        
        letter-spacing: 0.64px;
        color:var(--secondary-color) ;
        background-color:var(--accent-color) ;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
}
.hero-btn :hover,
.hero-btn :focus {
             background-color: #404BBF;
}

.hero-after-title {
    
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1,2;
        
        letter-spacing: 0.4px;
        color: var(--main-title-color);
}

.hero-after-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1,5;
        
        letter-spacing: 0.32px;
        color: var(--primary-color);

}

.team {
    background-color: #F4F4FD;
}
.team-item {
    background-color: var(--secondary-color);
}
.team-title {
    
        
        font-size: 36px;
    
        font-weight: 700;
        line-height: 1,11;
        
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: var(--main-title-color);
}
.team-item-title {
    
        
    
        font-size: 20px;
        
        font-weight: 500;
        line-height: 1,2;
        
        letter-spacing: 0.4px;
        color: var(--main-title-color);

}
.team-item-text {
    
        font-size: 16px;
        font-weight: 400;
        line-height: 1,5;
      
        letter-spacing: 0.32px;
        color: var(--primary-color)

}
.portfolio-title {
       
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1,11;
        
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: var(--main-title-color);
}

.projects-item-title {
       font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1,2;
        /* 120% */
        letter-spacing: 0.4px;
        color: var(--main-title-color);

}
.projects-item-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1,5;
       
        letter-spacing: 0.32px;
        color: var(--primary-color);

}
.footer {
    background-color: var(--main-title-color);
}
.footer-logo-studio {
   
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        
        letter-spacing: 0.54px;
        text-transform: uppercase;
        color: #F4F4FD;
}
.footer-text {
    
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1,5;
        
        letter-spacing: 0.32px;
        color: #F4F4FD;
}
